body{
    /* background-image: url("download\ \(1\).jfif");
    background-color: #cccccc; */
}

*{
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans",sans-serif;
}
.head {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url("./main.jpeg");
}

.nav img{
    margin-left: 20px;
    padding-right: 35px;
    height: 60px;
    width: 100px;
}

.nav{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 8%;
    padding-right: 8%;
    background-color: white;
    
}

.tab ul li{
    display: inline-block;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 35px;
    padding-right: 35px;
}

.tab ul li a{
    text-decoration: none;
    color: black;
}

.nav ul{
    list-style-type: none;
    
}

.btn{
    border: 1px solid #ff5600;
    color: #464d65;
    background: none;
    border-radius: 5px;
    text-transform: capitalize;
    padding: 19px 47px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    position: relative;
    transition: color 0.4s linear;
    position: relative;
    overflow: hidden;
    margin: 0;
    transition: transform 4s;
}

.btn:hover{
    /* transform: rotateY(180deg); */
    color: rgb(255, 255, 255);
    background-color: #ff5600;
}
.head{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    /* box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1); */
    /* background-image: url(lily-banse--YHSwy6uqvk-unsplash.jpg); */
}

#menu {
    padding-bottom: 0;
  }

  #menu .container {
    width: 100%;
  }

  #menu .col-md-4 {
    margin: 0;
    padding: 0;
  }

  .menu-thumb img {
    width: 100%;
    transition: 0.5s;
  }

  .menu-thumb:hover img {
    transform: scale(1.15);
  }

  #menu .menu-thumb {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    width: 102%;
  }

  .menu-thumb .menu-info {
    position: absolute;
    top: 60%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: left;
    padding: 25px 30px;
    transition: 0.5s 0.2s;
  }

  .menu-info .menu-item {
    float: left;
  }

  .menu-info .menu-price {
    float: right;
  }

  .menu-info .menu-price span {
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
    display: block;
    margin-top: 10px;
  }

  .menu-thumb .menu-info h3,
  .menu-thumb .menu-info p,
  .menu-thumb .menu-info span {
    transform: translateY(100%);
    opacity: 0;
    display: block;
    transition: 0.5s 0.2s;
    color: #ffffff;
    z-index: 2;
    position: relative;
  }

  .menu-thumb .menu-info h3 {
    margin-top: 0;
  }

  .menu-thumb .menu-info p {
    color: #d9d9d9;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .menu-thumb:hover .menu-info h3,
  .menu-thumb:hover .menu-info p,
  .menu-thumb:hover .menu-info span {
    transform: translateY(0px);
    opacity: 1;
  }

  .menu-thumb:hover .menu-info {
    background: rgba(0,0,0,0.8);
  }

  #team {
    background: #f9f9f9;
  }

  .team-thumb {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }

  .team-info {
    padding: 10px 30px 20px 30px;
  }

  .team-thumb .team-hover {
    position: absolute;
    background: #1c1c1c;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    opacity: 0;
    transform: translateY(100%);
    transition: 0.5s 0.2s;
  }

  .team-thumb:hover .team-hover {
    opacity: 0.95;
    transition-delay: 0.3s;
    transform: translateY(0);
  }

  .team-thumb img {
    transition: 0.5s 0.2s;
  }

  .team-thumb:hover img {
    transform: scale(1.2);
  }

  .team-thumb .social-icon li a {
    background: #292929;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #d9d9d9;
    font-size: 20px;
    margin: 15px 5px 0 5px;
  }

  .team-thumb .team-item {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }

  .team-item h4 {
    color: #ffffff;
  }

  .team-info p {
    color: #bfbdbd;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 5px;
  }
  .text {
    padding-top: 100px;
    padding-left: 80px;
  }